div #bloglist {
  float: right;
  width: 48%;
}

div #main {
  padding-left: 100px;
}

div #form {

}

div #footer {
  bottom: 0;
}

div #time {
  font-size: 13px;
}

h4 {
  padding: 0px;
  margin: 5px;
}

#footer button {
}
